<div class="offer_published">Votre offre vient d'être publiée !</div>
<p>Vous pourrez la modifier ou la supprimer à tout moment en suivant ce lien :</p>
<p><%= link_to edit_job_url(id: @job.token), edit_job_url(id: @job.token) %></p>
<p>Bien entendu, gardez ce lien secret !</p>

<p>Un e-mail récapitulant toutes ces informations a été envoyé à <%= @job.company_email %></p>