<div id="delete_offer_success">
  <p>Votre offre a bien été supprimée ! Elle n'apparaîtra plus dans les offres de My Ruby Frog.</p>  
</div>

<%= link_to " ← Retourner à la liste des offres", jobs_path %>