.notice {
  background: #ffffdd;
}

.field_with_errors {
  background: #ffeebb;
}

.apply {
  background: #ffffdd;
}

#container {
  width: 800px;

  .job_summary {
    border-bottom: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-family: "Helvetica", "Arial", sans-serif
  }
  
  a {
    color: #444751;
  }
  
  .job_card {
    border: 1px solid #ccc;
    padding: 20px;
  }
}

