$sky: #48A1D8;

a {
  color: $sky;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.job_summary {
  border-bottom: 1px solid #E0E0E0;
  font-size: 0.8em;
  padding: 16px 0px 16px 0px;
  line-height: 20px;
}

.form_container {
  border: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  padding: 10px;
  margin-top: 50px;
  background: #FFFFFF;
}

.post_job {
  font-size: 2em;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;

}

.job_created_at {
  font-size: 0.9em;
  display: block;
  float: right;
}

.job_title {
  font-weight: bold;
}

.job_card {
  border: 1px solid #E0E0E0;
  padding: 30px;
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    
  .job_title {
    color: $sky;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .company_name {
    font-weight: bold;
  }
  
  .job_general_infos {
    font-size: 0.9em;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 0px 10px 0px;
  }
  
  .infos_block {
    margin-bottom: 10px;
  }
  
  .job_description {
    margin: 30px 0px 10px 0px;
    
    h1 {
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    
    h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
        
    p {
      font-size: 0.9em;
      margin: 7px 0px 0px 0px;
      text-align: justify;
      color: #696C74;
    }
    
    ul {
      list-style-type: disc;    
    }
    
    li {
      margin-left: 15px;
      font-size: 0.9em;
      color: #696C74;
    }
          
  }
  
  .job_apply {
    font-size: 0.9em;
    background: #ffffdd;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid white;
    font-weight: bold;
    margin-top: 30px;
  }
}
