$sky: #48A1D8;

#search_jobs {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin: 40px 0 40px 0;
  
  .search_field {
    border: 1px solid #E0E0E0;
    line-height: 20px;
    font-size: 1em;
    width: 200px;
    height: 26px;
  }
}

a {
  color: $sky;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#website_description {
  font-family: "Volkhov", Georgia, serif;
  font-size: 50px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 40px 0 40px 0;
  line-height: 60px;
}

#jobs_list {
  
  margin: 20px 0px 20px 0px;
  
  .job_summary {
    border-bottom: 1px solid #E0E0E0;
    font-size: 0.8em;
    padding: 20px 0px 20px 0px;
    line-height: 20px;
    
    .job_title {
      font-weight: bold;
      width: 500px;
    }
  }
}

.form_container {
  border: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  padding: 10px;
  margin-top: 50px;
  background: #FFFFFF;
}

.post_job {
  font-size: 2em;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;

}

.job_created_at {
  font-size: 0.9em;
  display: block;
  float: right;
}



.job_card {
  border: 1px solid #E0E0E0;
  padding: 30px;
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    
  .job_title {
    color: $sky;
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 45px;
  }
  
  .company_name {
    font-weight: bold;
  }
  
  .job_general_infos {
    font-size: 0.9em;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 0px 10px 0px;
  }
  
  .infos_block {
    margin-bottom: 10px;
  }
  
  .job_description {
    margin: 30px 0px 10px 0px;
    
    h1 {
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    
    h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
        
    p {
      font-size: 0.9em;
      margin: 7px 0px 0px 0px;
      text-align: justify;
      color: #696C74;
    }
    
    ul {
      list-style-type: disc;    
    }
    
    li {
      margin-left: 15px;
      font-size: 0.9em;
      color: #696C74;
    }
          
  }
  
  .job_apply {
    font-size: 0.9em;
    background: #ffffdd;
    padding: 10px 5px 10px 5px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    font-weight: bold;
    margin-top: 30px;
  }
}

#delete_offer {
  background: #ffffdd;
  padding: 5px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  margin-top: 20px;
  
  a {
    color: #CD071E;
  }
}

.success {
  background: #eeffbb;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 5px;
  margin-bottom: 30px;
}
