$ardoise: #444751;

body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: $ardoise;
    line-height: 20px;
}

#container {
  width: 800px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 60px;
  padding: 60px 0px 30px 0px;
  border-top: 10px solid $ardoise;  
}

#menu {
  margin-bottom: 40px;
  
  a {
    color: $ardoise;
    background: #ffffdd;
    padding: 7px;
    font-weight: 300;
    font-size: 1.2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: none;
    background: yellow;
  }

}

#footer {

}

.title {
    color: $ardoise;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    width: 800px;
}

.notice {
  background: #ffffdd;
}

.field_with_errors {
  background: #E95C41;
}

.page_title {
  border-bottom: 1px solid #E0E0E0;
  border-top: 5px solid $ardoise;
  padding: 20px 0px 20px 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}


.field {
/*  background: #EDF1F3;*/
  margin-top: 1px;
  padding: 10px 0px 10px 5px;
  
  label {
    font-size: 0.9em;
    font-weight: bold;
  }
  
  input {
    border: 1px solid #E0E0E0;
    line-height: 20px;
    font-size: 1em;
  }
}

.back_link {
  font-size: 0.8em;
}