$ardoise: #444751;

body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: $ardoise;
}

#container {
  width: 800px;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 60px;
  border-top: 5px solid $ardoise;
  padding-top: 30px;
}

#menu {
  margin-bottom: 40px;
  
  a {
    color: $ardoise;
    background: #ffffdd;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  a:hover {
    text-decoration: none;
    background: yellow;
  }

}

.title {
    color: $ardoise;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    width: 800px;
}

.notice {
  background: #ffffdd;
}

.field_with_errors {
  background: #ffeebb;
}

